@if (selectable) {
  @for (item of selections; track _trackBy($index, item); let i = $index) {
    <ng-container *ngTemplateOutlet="_template(item, 'selection'); context: { item: item }"></ng-container>
  }
}

<!-- TEMPLATE FOR EMPTY STATE -->
<ng-template #emptyStateTemplate>
  @if (!filter?.trim()) {
    <ng-container *ngTemplateOutlet="_emptyStateTemplate"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="_noResultTemplate; context: { $implicit: filter }"></ng-container>
  }
</ng-template>

@if (filter ? (items | filterBy: filterBy : filter) : items; as filtered) {
  @if (filtered.length) {
    <ul class="ui-list-container" [ngClass]="classes">
      @for (
        item of filtered;
        track _trackBy($index, item);
        let index = $index;
        let first = $first;
        let last = $last;
        let even = $even;
        let odd = $odd
      ) {
        @let context = { item: item, items: filtered, odd: odd, last: last, even: even, index: index, first: first };

        <div class="ui-list-item">
          <!-- HEADER -->
          @if (_template(context, 'header'); as header) {
            <li class="ui-list-item-header">
              <ng-container *ngTemplateOutlet="header; context: context"></ng-container>
            </li>
          }

          <!-- ROW -->
          @if (_template(context, 'row'); as row) {
            <li class="ui-list-item-content" [class.selectable]="selectable">
              <ng-container *ngTemplateOutlet="row; context: context"></ng-container>

              <!-- CHECKBOX -->
              @if (selectable) {
                <label class="ui-list-label">
                  <input
                    class="ui-list-label__checkbox"
                    type="checkbox"
                    [(ngModel)]="_selectionStates[$any(item)[idField]]"
                    (ngModelChange)="_toggleSelection(item)"
                  />
                  <span class="ui-list-label__text">
                    <span class="ui-list-label__check">
                      <span class="ui-list-label__icon">✓</span>
                    </span>
                  </span>
                </label>
              }
            </li>
          }
        </div>
      }
    </ul>
  } @else {
    <ng-container *ngTemplateOutlet="emptyStateTemplate"></ng-container>
  }
}
