:host {
  display: block;
  min-height: 100%;
  height: auto;
  width: 100%;
  position: relative;
  --inner-margin-bottom: 12px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: block;
  &.selectable {
    display: grid;
    grid-template-columns: 90% 10%;
    column-gap: 12px;
    align-items: center;
  }
}

.ui-list-item {
  margin-bottom: var(--inner-margin-bottom);
}

// https://freefrontend.com/css-checkboxes/
// https://codepen.io/daniandl/pen/OgbXzK

.ui-list-label__checkbox {
  display: none;
}

.ui-list-label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: white;
  vertical-align: middle;
  margin-right: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;

  .label__icon {
    opacity: 0.2;
    //font-size: calc(1rem + 1vw);
    color: transparent;
    transition: opacity 0.3s 0.1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
  }

  &:hover {
    border: 5px solid rgba(0, 0, 0, 0.2);
  }
}

.ui-list-label__checkbox:checked + .ui-list-label__text .ui-list-label__check {
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

  .ui-list-label__icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
  }
}


.spacer {
  flex: 1;
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}
