:host {
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
  display: var(--display, block);
  position: relative;
  i {
    font-size: var(--icon-size, 16px);
    text-align: center;
  }
}
