<ng-container *ngIf="filter.term">
  <div class="tree-filter" title="Filter">
    <span class="tree-filter__label">{{ filter.term }}</span>
    <div class="tree-filter__commands">
      <span class="command-clear" role="button" title="Clear" (click)="_clearFilter()">&times;</span>
    </div>
  </div>
</ng-container>

<cdk-virtual-scroll-viewport
  class="tree-component"
  tabindex="0"
  [itemSize]="adapter.itemHeight"
  [style.height]="adapter.treeHeight">
  <ng-container *cdkVirtualFor="let node of visibleNodes|async; trackBy: _trackById;" >
    <div
      class="tree-node tree-node--level-{{ node.level }}"
      [style.padding-left]="node.level * 12 + 'px'"
      [attr.data-tree-node-id]="node.id"
      [ngClass]="{
        focused: isFocused(node),
        selected: isSelected(node),
        expanded: isExpanded(node)
      }">
        <div class="tree-node__content" [matTooltip]="node.data.tooltip">
          <ng-container *ngIf="!_isRenaming(node); else editingTemplate">
            <ng-container
              *ngTemplateOutlet="
              nodeDirective.templateRef;
              context: { $implicit: node }
              ">
            </ng-container>
          </ng-container>
        </div>
    </div>
    <ng-container *ngIf="_isCreatingChildInside(node)">
      <div
        class="tree-node tree-node--level-{{ node.level + 1 }}"
        [style.padding-left]="(node.level) * 12 + 'px'">
        <div class="tree-node__content">
          <ng-container *ngTemplateOutlet="editingTemplate"> </ng-container>
        </div>
    </div>
    </ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>

<ng-template #editingTemplate>
  <span class="tree-input">
    <input
      autofocus
      type="text"
      placeholder="Press Enter to create ESC to cancel..."
      [(ngModel)]="editing.text"
      (keydown)="_onEdit($event)"
      (blur)="_onEdit($event)"/>
  </span>
</ng-template>
