<ng-container *ngIf="filter.term">
  <div class="tree-filter" title="Filter">
    <span class="tree-filter__label">{{ filter.term }}</span>
    <div class="tree-filter__commands">
      <span class="command-clear" role="button" title="Clear" (click)="_clearFilter()">&times;</span>
    </div>
  </div>
</ng-container>

<div
  tabindex="0"
  class="tree-component"
  [class.editing]="editing.node != null"
  [style.height]="treeHeight">
  <ng-container *ngFor="let node of visibleNodes|async; trackBy: _trackById;">
    <!-- RENAMING -->
    <ng-container *ngIf="node.renaming; else: nodeTemplate">
      <div
        class="tree-node opaque focused selected tree-node--level-{{ node.level + 1 }}"
        [attr.data-tree-node-id]="node.id"
        [style.padding-left]="node.padding"
        [style.height.px]="adapter.itemHeight">
        <div class="tree-node__content" [style.height.px]="adapter.itemHeight">
          <ng-container *ngTemplateOutlet="inputTemplate" />
        </div>
      </div>
    </ng-container>

    <!-- NODE -->
    <ng-template #nodeTemplate>
      <div
        class="tree-node tree-node--level-{{ node.level }}"
        [attr.data-tree-node-id]="node.id"
        [style.padding-left]="node.padding"
        [style.height.px]="adapter.itemHeight"
        [ngClass]="{
          focused: node.focused,
          selected: node.selected,
          expanded: node.expanded
        }">
          <div class="tree-node__content" [style.height.px]="adapter.itemHeight">
            <ng-container *ngTemplateOutlet="nodeDirective.templateRef; context: { $implicit: node }" />
          </div>
      </div>
    </ng-template>

    <!-- CREATING -->
    <ng-container *ngIf="node.creating">
      <div
        class="tree-node opaque focused selected tree-node--level-{{ node.level + 1 }}"
        [style.padding-left]="node.padding"
        [style.height.px]="adapter.itemHeight">
        <div class="tree-node__content" [style.height.px]="adapter.itemHeight">
          <ng-container *ngTemplateOutlet="inputTemplate" />
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #inputTemplate>
  <span class="tree-input">
    <input
      autofocus
      type="text"
      placeholder="Press Enter to create ESC to cancel..."
      (click)="$event.preventDefault(); $event.stopPropagation()"
      [(ngModel)]="editing.text"
      (keydown)="_onEdit($event)"
      (blur)="_onEdit($event)" />
  </span>
</ng-template>
