<h1>Showcase</h1>

<label for="theme">Theme: </label>
<select name="theme" (change)="switchTheme($any($event.target).value)">
  <ng-container *ngFor="let item of themes|async" >
    <option [selected]="item === theme?.themeName" [value]="item">{{ item }}</option>
  </ng-container>
</select>


<h2>NgeMonacoViewer</h2>

<nge-monaco-viewer [language]="'markdown'" [lines]="'1 4-7 10'" [highlights]="'2-5'" ngPreserveWhitespaces>
# H1
## H2
### H3
#### H4
##### H5
###### H6

Alternatively, for H1 and H2, an underline-ish style:

Alt-H1
======

Alt-H2
------
</nge-monaco-viewer>

<h2>NgeMonacoEditor</h2>

<nge-monaco-editor
  style="--editor-height: 200px"
  (ready)="onCreateEditor($any($event))" />

<h2>NgeMonacoDiffEditor</h2>

<nge-monaco-diff-editor
  style="--editor-height: 200px"
  (ready)="onCreateDiffEditor($any($event))" />
