:host {
  --icon-size: 16px;
  --display: block;
  display: var(--display);
  width: var(--icon-size);
  height: var(--icon-size);
  &:ng-deep > * {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
