<nge-markdown ngPreserveWhitespaces>
<h1 align="center"> NG Essentials</h1>

<div align="center">
  <img src="assets/images/nge.svg" alt="Logo NGE" width="120px" />
</div>

<div align="center">

NG Essentials is a collection of libraries for <a href="https://angular.io">Angular</a> developers.

[![Tests](https://github.com/mciissee/nge/workflows/Tests/badge.svg)](https://github.com/mciissee/nge/actions/)
<!-- [![codecov](https://codecov.io/gh/mciissee/nge/branch/main/graph/badge.svg)](https://codecov.io/gh/mciissee/nge) -->
[![codefactor](https://www.codefactor.io/repository/github/mciissee/nge/badge/main)](https://www.codefactor.io/repository/github/mciissee/nge/overview/main)
[![GitHub Release Date](https://img.shields.io/github/release-date/mciissee/nge.svg)](https://github.com/mciissee/nge/releases)
[![npm package](https://img.shields.io/npm/v/@mcisse/nge.svg)](https://www.npmjs.org/package/@mcisse/nge)
[![NPM downloads](http://img.shields.io/npm/dm/@mcisse/nge.svg)](https://npmjs.org/package/@mcisse/nge)
[![licence](https://img.shields.io/github/license/mciissee/nge)](https://github.com/mciissee/nge/blob/main/LICENSE)
[![code style: prettier](https://img.shields.io/badge/code_style-prettier-ff69b4.svg)](https://github.com/prettier/prettier)

</div>

## ✨ Features Guides

Follow the guides to integrate these essentials features into your applications:

* [nge-doc](docs/nge-doc/)

Project documentation tool.

* [nge-markdown](docs/nge-markdown/)

Markdown parser library based on [Marked](https://github.com/markedjs/marked).

* [nge-monaco](docs/nge-monaco/)

[Monaco Editor](https://microsoft.github.io/monaco-editor/) integration in angular.

## 📄 Docs

Documentation available at [https://mciissee.github.io/nge/](https://mciissee.github.io/nge/)

## 📦 Installation

```bash
npm install @mcisse/nge
```

## ⌨️ Development

* Clone and install

```bash
git clone https://github.com/mciissee/nge
cd nge
npm install
```

* Serve demo

```bash
npm run start
```

Browser would open automatically at <http://localhost:4200/>.

## 🤝 Contribution

Contributions are always welcome. <br/>

Please read our [CONTRIBUTING.md](https://github.com/mciissee/nge/blob/main/CONTRIBUTING.md) first. You can submit any ideas as [pull requests](https://github.com/mciissee/nge/pulls) or as [GitHub issues](https://github.com/mciissee/nge/issues).

Please just make sure that ...

Your code style matches with the rest of the project

Unit tests pass

Linter passes

## ❓ Support Development

The use of this library is totally free.

As the owner and primary maintainer of this project, I am putting a lot of time and effort beside my job, my family and my private time to bring the best support I can by answering questions, addressing issues and improving the library to provide more and more features over time.

If this project has been useful, that it helped you or your business to save precious time, don't hesitate to give it a star to support its maintenance and future development.

## ✨ License

MIT © [Mamadou Cisse](https://github.com/mciissee)
</nge-markdown>
