:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #364149;
  line-height: 2.3em;
  padding: 1rem;
}

header {
  display: block;
  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 auto 1rem;
  }
  img {
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    object-fit: contain;
  }
}

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover,
  &.active {
    font-weight: 700;
  }
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #f50057;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before,
a.active::before {
  visibility: visible;
  transform: scaleX(1);
}

a img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  object-fit: cover;
}

li {
  margin-bottom: 4px;
}

.caption {
  margin-top: 0.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  & + ul {
    padding-left: 1.3em;
  }
}
